<ol class='sub_list_1' id='plugins_toc'>
  <li>
    <%= chapter('Extending', 'plugins/extending/index') %>
    <ol class='sub_list_2'>
      <li><%= chapter('Case Study: PDF Writer', 'plugins/extending/pdf_writer') %></li>
    </ol>
  </li>
</ol>