<% page_title('Mack Data Factory') -%>

<!-- The Mack Data Factory is a utility to let application developers create fake test data in a controlled fashion.  By controlled, it means that for each content that will be generated, the developer will have a chance to decide what the content type is and also specify specific rules on how the content is generated.  For example: to generate the 'description' field of an item model, one can specify the min and max length of the string, and whether or not it should include space between each words, etc.

In this section of the document, you will learn the following:
<ul>
  <li>How to create a factory class</li>
  <li>An in-depth look at field content type</li>
   -->