<% page_title('Mack Data Factory') -%>

<p>The Mack Data Factory is a utility to let application developers create fake test data in a controlled fashion.  By controlled, it means that for each content that will be generated, the developer will be able to decide what the content type is and also specify specific rules on how the content is generated.  For example: to generate the 'description' field of an item model, one can specify the min and max length of the string, and whether or not it should include space between each words, etc.</p>

<p>In this section of the document, you will learn the following:</p>
<ul>
  <li><%= chapter('Creating a Data Factory', 'mack_more/data_factory/contents/create') %></li>
  <li><%= chapter('An in-depth look at Field', 'mack_more/data_factory/contents/field') %></li>
  <li><%= chapter('Defining relational data in a Factory', 'mack_more/data_factory/contents/association')%></li>
  <li>How to create a custom API bridge</li>
  <li><%= chapter('Examples', 'mack_more/data_factory/contents/examples')%></li>
</ul>
  