<ol class='sub_list_1'>
  <li><%= chapter('Application Configuration', 'configuration/app_config') %></li>
  <li>
    <%= chapter('Initializers', 'configuration/initializers/index') %>
    <ol class='sub_list_2'>
      <li><%= chapter('Gems', 'configuration/initializers/gems') %></li>
      <li><%= chapter('Mime-Types', 'configuration/initializers/mime') %></li>
    </ol>
  </li>
</ol>