<% page_title('Application Configuration') -%>

<p>Mack uses the application_configuration gem to configure itself, and your application. To do configurations there are 4 files that are generated with your Mack application:</p>

<ul>
  <li>config/app_config/default.yml</li>
  <li>config/app_config/development.yml</li>
  <li>config/app_config/testing.yml</li>
  <li>config/app_config/production.yml</li>
</ul>

<p>Any configurations you place into the default.yml file will be global across all environments. The settings also override any settings that are 'defaults' in Mack itself. When you start your application, or load the Mack environment, the corresponding YAML file for that environment will be loaded. These settings will override any settings set in default.yml</p>

<% code do -%>
# default.yml
app_timeout: &lt;%= 10.minutes %>
log_file: error.log

# development.yml
app_timeout: &lt;%= 1.second %>
<% end -%>

<p>When you load your application in development mode the <code>app_timeout</code> will be set to 1 second, whereas in production and test mode it will be set to 10 minutes. Regardless of what environment you're in the log_file setting will be 'error.log'</p>

<% code do -%>
# development mode:
app_config.app_timeout # => 1
app_config.log_file # => 'error.log'

# production or test mode:
app_config.app_timeout # => 600
app_config.log_file # => 'error.log'
<% end -%>

<p>To see what your environment's, default is 'development' configuration settings are you can run this rake task:</p>

<% code(:cl) do -%>
$ rake mack:dump:config
<% end -%>

<p>which will produce something like this:</p>

<% code do -%>
{"mack::session_id"=>"_macker-guide_session_id",
 "mack::site_domain"=>"http://localhost:3000",
 "log::completed_color"=>"purple",
 "log_level"=>"debug",
 "cachetastic_default_options"=>
  {"expiry_time"=>300,
   "adapter"=>"local_memory",
   "debug"=>false,
   "logging"=>
    {"logger_1"=>
      {"type"=>"file",
       "file"=>"/Users/markbates/macker_guide/log/cachetastic.log"}}},
 "mack::test_case_file_pattern"=>"test/**/*_test.rb",
 "default_secret_key"=>
  "S8R6TL5QKHJDFBFLLRRZ8NFLS5SL7NR4XFT57N6NLFXXPGBZM8C4WMRQMWRQQSXXZKTNAELB7F5JM4ZN",
 "mack::use_lint"=>true,
 "mack::cookie_values"=>{"path"=>"/"},
 "log::warn_color"=>"yellow",
 "mack::cache_classes"=>false,
 "reload_settings_every"=>1200,
 "mack::render_url_timeout"=>5,
 "log::detailed_requests"=>true,
 "mack::session_store"=>"cookie",
 "whiny_config_missing"=>false,
 "mack::rspec_file_pattern"=>"test/**/*_spec.rb",
 "mack::js_framework"=>"jquery",
 "mack::use_sessions"=>true,
 "log::fatal_color"=>"red",
 "cookie_session_store::expiry_time"=>14400,
 "mack::show_exceptions"=>true,
 "mack::testing_framework"=>"rspec",
 "log::db_color"=>"cyan",
 "log::error_color"=>"red"}
<% end -%>