<% page_title('Initializers') -%>

<p>There is really nothing special to 'initializers' they are merely files that get loaded after gems, but before plugins, libs, routes, and the 'app' files.</p>

<p>They are commonly used to configure sections of Mack, such as adding mime types or custom gems. They can also be used to do things like load files, configure back-end systems, etc...</p>