<ol class='sub_list_1' id='controllers_toc'>
  <li><%= chapter('Actions', 'controllers-actions') %></li>
  <li>Headers/Status</li>
  <li>Filters</li>
  <li>Helpers</li>
  <li>Layouts</li>
  <li><%= chapter('Tell Messaging', 'controllers-tell') %></li>
  <li>
    Rendering
    <ol class='sub_list_2'>
      <li>
        Engines
        <ol class='sub_list_3'>
          <li>Erubis</li>
          <li>Builder</li>
          <li>
            Extending
            <ol class='sub_list_4'>
              <li>Case Study: PDF Writer</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        Types
        <ol class='sub_list_3'>
          <li>:action</li>
          <li>:text</li>
          <li>:inline</li>
          <li>:xml</li>
          <li>:url</li>
          <li>:partial</li>
          <li>:template</li>
          <li>:public</li>
          <li>
            Extending
            <ol class='sub_list_4'>
              <li>Case Study: PDF Writer</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>Redirecting</li>
</ol>