<ol>
  <li>Actions</li>
  <li>Headers/Status</li>
  <li>Filters</li>
  <li>Helpers</li>
  <li>Layouts</li>
  <li>Tell Messaging</li>
  <li>
    Rendering
    <ol>
      <li>
        Engines
        <ol>
          <li>Erubis</li>
          <li>Builder</li>
          <li>
            Extending
            <ol>
              <li>Case Study: PDF Writer</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        Types
        <ol>
          <li>:action</li>
          <li>:text</li>
          <li>:inline</li>
          <li>:xml</li>
          <li>:url</li>
          <li>:partial</li>
          <li>:template</li>
          <li>:public</li>
          <li>
            Extending
            <ol>
              <li>Case Study: PDF Writer</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>Redirecting</li>
</ol>