<% page_title('Using Layout') %>

<p>
  Layout files for Mack application are stored in <code>app/views/layouts</code> folder.  When a Mack application is first generated, it will have a default layout file, <code>application.html.erb</code>.  This layout file will be used by all the views defined in the application, unless otherwise specified.  This section of the document will discuss how we can control which layout to use in a controller, and also take a peek at the inside of the layout file.
</p>

