<% page_title('Contributing') -%>

<p>If you are interested in contributing you can create an account with GitHub, fork the Mack project, go nuts with your changes, and then send us a pull request. It’s all very well explained on the GitHub site.</p>

<p><%= mail_to('contribute@mackframework.com') %></p>

<p><%= simple_link('http://github.com/markbates/mack') %></p>

<p><%= simple_link('http://github.com/markbates/mack-more') %></p>