<% page_title('Joyent Accelerator') -%>

<p>Kent Langley, from Joyent, has posted a wonderful article on how to get Mack up and running on a Joyent Accelerator. The good news is it's incredibly easy. Here's how:</p>

<p><%= simple_link('http://wiki.joyent.com/all-accelerators:kb:mack') %></p>