<% page_title('Welcome to the Macker\'s Guide to the Universe!') -%>
<h2>Mack - A Distributed Web Application Framework</h2>

<p>Mack is a Ruby web application framework that is being built from the ground up to aid in the development of distributed, portal-like applications that have a need for speed. Mack supports best of breed technologies in a modular way.</p>