<% page_title('Welcome to the Macker\'s Guide to the Universe!') -%>
<h2>Mack - A Distributed Web Application Framework</h2>

<p>Mack is a Ruby web application framework that is being built from the ground up to aid in the development of distributed, portal-like applications that have a need for speed. Mack supports best of breed technologies in a modular way.</p>

<p>Our goal with this site is to make a comprehensive guide to the Mack Framework. With the help of useful examples and tutorials we're trying to make learning the Mack Framework as easy as it is to actually use.</p>

<p class='note'>NOTE: This documentation is a work in progress. Please feel free and contribute to it at: <%= simple_link('http://github.com/markbates/macker-s-guide/tree/master') %></p>