<ul id='apis_toc'>
  <li><%= link_to('mack', 'http://api.mackframework.com/mack/', :target => :_blank) %></li>
  <% mack_more.each do |g| -%>
    <li><%= link_to("mack-#{g}", "http://api.mackframework.com/mack-#{g}/", :target => :_blank) %></li>
  <% end -%>
</ul>