body { 
  /*background-color: #e6e6e6; color: #333;*/
  text-align: center;
  min-width: 1px;
  padding: 10px;
  font-family: Verdana;
  font-size: 12px;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

#toc {
  float: right;
  border-style: solid;
  margin-left: 10px;
}

#toc ol {
  padding-left: 30px;
  padding-right: 10px;
}

#main {
/*  float: left;*/
}

#wrapper {
  margin: 0 auto; 
  text-align: left;
  width: 70%;
  padding: 4px;
}

p {
  text-align: justify;
}

.option {
  color: #aeaeae;
  font-style: italic;
}