<% page_title 'Developing a Portlet' -%>

<p>There is nothing different or special about developing a Mack Portlet. You would build your Portlet just like a regular Mack application, that's because that's what it is, a regular Mack application.</p>