<% page_title 'Portlets' %>

<p>Portlets are what components in Rails should've been and they're what slices in Merb should be. Portlets are a way off packaging a full Mack application into a Ruby Gem so they can easily be shared and used in other Mack applications. As you're about to see, this simple page is all the information you need to know about developing, testing, packaging, and using Portlets.</p>

<p>Portlets encapsulate a whole Mack application, from controllers to views to models to configuration settings to your images, stylesheets and javascripts. This makes it possible to develop extremely rich applications and share them with other Mack applications.</p>