<% page_title 'Testing a Portlet' -%>

<p>Because your Portlet is a regular Mack application there is nothing special you need to do to test it. Just write the same high quality tests you would write for any Mack application.</p>