<ol class='sub_list_1' id='the_basics_toc'>
  <li>
    <%= chapter('Hello World', 'the_basics/hello_world') %>
    <ol class='sub_list_2'>
      <li><%= chapter('Application Generation Options', 'the_basics/application_generation_options') %></li>
    </ol>
  </li>
  <li>Routing</li>
  <li>Controllers</li>
  <li>Views</li>
</ol>