<% page_title('Application Generation Options') -%>

<p>The <code>mack</code> command accepts several options to help you customize the creation of your Mack application.</p>

<ul>
  <li><span class="option">-o [data_mapper|active_record]</span> Used to configure the ORM you would like to use with Mack. The default is DataMapper.</li>
  <li><span class="option">-t [rspec|test_case]</span> Used to configure the testing framework you would like to use with Mack. The default is RSpec.</li>
  <li><span class="option">-j [jquery|prototype]</span> Used to configure the JavaScript framework you would like to use with Mack. The default is jQuery.</li>
</ul>