<% page_title('The Basics') -%>

<p>If you've used another web application framework, such as Ruby on Rails or Merb, then understanding the basics of Mack shouldn't be too difficult. The core of Mack is simple and straightforward.</p>

<p>There are three areas of Mack that are the heart of it's 'core'. They are Controllers, Views, and Routing.</p>