<ol>
  <li><%= chapter("Installing from RubyGems", 'getting_started/installing_from_ruby_gems') %></li>
  <li><%= chapter('Installing from GitHub.com', 'getting_started/installing_from_git_hub') %></li>
  <li>Installing with Sake</li>
</ol>