<% page_title('Getting Started - Installing from RubyGems') -%>

<p>RubyGems, <%= link_to("http://www.rubygems.org/", "http://www.rubygems.org/", :target => :_blank) %>, provides the simplest way to download, install, and get up and running with Mack.</p>

<% code do -%>
$ sudo gem install mack
<% end -%>