<% page_title('Installing with Sake') -%>

<p>Sake is a gem that essentially provides for system wide Rake tasks. Mack contributor, DeLynn Berry, was kind enough to create some Sake tasks for Mack which can be used to install and update Mack on your system.</p>

<p>Before you can use Sake, you must have the gem installed on your computer:</p>

<% code(:cl) do -%>
$ sudo gem install sake
<% end -%>

<p>Once Sake is installed you can download and install the Mack Sake tasks like so:</p>

<% code(:cl) do -%>
$ sake -i http://www.mackframework.com/mack-dev.sake
<% end -%>

<p>Now you just need to do the following and Mack will be downloaded, and installed for you:</p>

<% code(:cl) do -%>
$ sake mack:clone
$ sake mack:install:all
<% end -%>

<p>For more information on Sake, please check out: <%= simple_link('http://errtheblog.com/posts/60-sake-bomb') %></p>