<% page_title('Installing from RubyGems') -%>

<p>RubyGems, <%= simple_link("http://www.rubygems.org/") %>, provides the simplest way to download, install, and get up and running with Mack.</p>

<% code(:cl) do -%>
$ sudo gem install mack
<% end -%>