<ol class='sub_list_1' id='views_toc'>
  <li><%= chapter('Helpers', 'views/helpers') %></li>
  <li><%= chapter('Layouts', 'views/layouts') %></li>
  <li><%= chapter('Assets Host', 'views/asset_host')%></li>
  <li><%= chapter('Assets Management', 'views/asset_mgr')%> </li>
</ol>