<ol>
  <li>
    <%= link_to("Getting Started", chapters_show_url(:view => 'getting_started')) %>
  </li>
  <li>
    The Basics
    <ol>
      <li>Controllers</li>
      <li>Views</li>
      <li>Routing</li>
    </ol>
  </li>
</ol>