<ol>
  <li>
    Getting Started
    <%= render(:partial, 'chapters/getting_started/toc') %>
  </li>
  <li>
    <%= chapter('The Basics', 'the_basics/index') %>
    <%= render(:partial, 'chapters/the_basics/toc') %>
  </li>
</ol>