<ol>
  <li>
    <%= chapter("Getting Started", 'getting_started') %>
    <%= render(:partial, 'chapters/getting_started/toc') %>
  </li>
  <li>
    The Basics
    <ol>
      <li>Controllers</li>
      <li>Views</li>
      <li>Routing</li>
    </ol>
  </li>
</ol>