<h1>Getting Started</h1>

<p>Getting started with Mack is very easy. First you need to install Mack on your system. This can be done using RubyGems:</p>

<% code do -%>
sudo gem install mack
<% end -%>