<% page_title('Getting Started') -%>

<p>Getting started with Mack is very easy. First you need to install Mack on your system. There are several ways to install Mack on your system. You can install using RubyGems, build the source yourself from GitHub.com, or use Sake to download and build your Mack from source.</p>
