<ol>
  <li><%= chapter('Default Routes', 'routing-defaults') %></li>
  <li><%= chapter('Named Routes', 'routing-named_routes') %></li>
  <li>Resource Routes</li>
  <li>Redirecting</li>
  <li>Error Handling</li>
</ol>